body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    margin-right: 20px;
    width: 100px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15%;
    margin-bottom: 20px;
}

nav a {
    margin-bottom: 10px;
}

main {
    position: absolute;
    top: 100px;
    margin-left: 17.5%;
    width: 55%;
}

footer {
    position: absolute;
    right: 0;
    top: 100px;
    width: 25%;
    flex-direction: column;
}

footer a {
    margin-bottom: 10px;
    
}

footer img {
    width: 13px;
    height: 13px;
}