body {
    color: black;
    background-color: white;
  }
  
  p {
    text-align: right;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-align: right;
    font-family: 'Arial Black', sans-serif;
    color: red;
    text-transform: uppercase;
    letter-spacing: -0.1em;
  }
  
  em {
    color: green;
  }